/* This file should be copyed on /etc/udev/rules.d on GNU/Linux OS and derived  */
/* Add permission to all user to have complete acces to PS1/2 memory card reader*/
SUBSYSTEM=="usb", ATTR{idVendor}=="054c", ATTR{idProduct}=="02ea", MODE:="0666"
/*ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="054c", ATTR{idProduct}=="02ea", SYMLINK="pscard%n", GROUP="plugdev", MODE:="0666"*/

